<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- XML 配置文件包含对 MyBatis 系统的核心设置 -->

<configuration>


    <!-- 定义别名 位置在setting之后 -->
    <!--
    <typeAliases>
        <typeAlias alias="user" type="org.model.User"></typeAlias>
    </typeAliases>
    -->
    <!-- 别名定义 推荐这种方式 扫描该包中的实体类以及子包中的实体类-->
    <typeAliases>
        <package name="model"/>
    </typeAliases>

    <environments default="mysql">
        <!-- 环境配置，即连接的数据库。 -->
        <environment id="mysql">
            <!-- 指定事务管理类型，type="JDBC"指直接简单使用了JDBC的提交和回滚设置 -->
            <transactionManager type="JDBC" />
            <!-- dataSource指数据源配置，POOLED是JDBC连接对象的数据源连接池的实现。 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/QQ?useTimezone=true&amp;serverTimezone=GMT%2B8&amp;useSSL=false" />
                <property name="username" value="<你的数据库用户名>" />
                <property name="password" value="<你的数据库密码>" />
                <!--<property name="password" value="root" />-->
            </dataSource>
        </environment>
    </environments>
    <!-- mappers告诉了MyBatis去哪里找持久化类的映射文件 -->
    <mappers>
        <!-- <mapper resource="org/mapper/ten/proxy/UserMapper.xml"/> -->
        <mapper class="com.jiading.dao.UserDao"/>
    </mappers>
</configuration>